{% extends 'share/_base.html' %}

{% block content %}
<a class="btn btn-danger" href="/logout/">logout</a>
<h1>hellow admin</h1>


<h2>hamed</h2>
<form action="/addpizza/" method="POST">
{% csrf_token %}
<input class="form-control form-control-lg" type="text" placeholder="name" name="title">
<input class="form-control form-control-lg" type="text" placeholder="price" name="price">
<input class="form-control form-control-lg" type="text" placeholder="info" name="info">
<input type="submit" class="btn btn-success form-control-lg">
</form>
{% endblock content %}
