
{% extends 'share/_base.html' %}

{% for mesaage  in messages %}
<h1>mesaage</h1>
{% endfor %}


{% block content %}
<form action="/coustomerorder" method="POST">
  {% csrf_token %}
{% for titile in pizza %}
<div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title">{{titile.title}}</h5>
      <p class="card-text">{{titile.info}}</p>
      <input type="number" style="width: 60px;" name="quantity">
      <footer class="blockquote-footer">{{titile.price}}</footer>
      
      
    </div>
  </div>
  
{% endfor %}
<input type="text" class="form-control" placeholder="what is your address ">
<input class="btn btn-success" type="submit" href="#">Done</input>
</form>
{% endblock %}