{% extends 'share/_base.html' %}
{% block content %}

{% for titile in pizzalist %}
<div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title">{{titile.title}}</h5>
      <p class="card-text">{{titile.info}}</p>
      <footer class="blockquote-footer">{{titile.price}}</footer>
      <p>
        <a class="btn btn-warning" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          edit
        </a>
        <a href="deletpizaaid/{{titile.id}}/" class="btn btn-danger">delet</a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form action="/editpizaa/{{titile.id}}/" method="POST">
                {% csrf_token %}
                <input class="form-control form-control-lg" type="text" placeholder="name" name="title">
                <input class="form-control form-control-lg" type="text" placeholder="price" name="price">
                <input class="form-control form-control-lg" type="text" placeholder="info" name="info">
                <button type="submit" class="btn btn-primary form-control">Submit</button>
                </form>
         {% csrf_token %}
        </div>
      </div>
    </div>
  </div>
  
{% endfor %}

{% endblock %}