{% extends 'share/_base.html' %}
{% block content %}
 {% for mesages in messages %}
      <div id="formFooter">
        <div class="alert alert-info" role="alert">
          <p class="underlineHover">{{mesages}}</p>
        </div>
      </div>
      {% endfor %}
<div class="container ">
{% for pizza in pizza %}
<div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title">{{pizza.title}}</h5>
      <p class="card-text">{{pizza.info}}</p>
      <footer class="blockquote-footer">{{pizza.price}}</footer>
      <input type="number" min="0" value="0" name="{{pizza.id}}"  name="quantity">
      
   
    
  </div>
</div>
{% endfor %}

</div>
<br>

<div class="form-group">
<input type="text" class="form-control"  placeholder="address"  name="address">
<button type="submit" class="btn btn-primary">Submit</button>
</div> 

{% endblock content %}